<link rel="stylesheet" type="text/css" href="home.component.scss">

<header>
    <img src="../../imagens/logo-ciencia.png" alt="logo CPT">
    <nav class="lista">
        <ul>
            <li><a href="#">Notícias</a></li>
            <li><a href="#">Startups</a></li>
            <li><a href="#">Portfólio</a></li>
            <li><a href="#">Fale Conosco</a></li>
        </ul>
    </nav>
</header>



<footer class="rodape">
  <section> 
    <div class="rodape_principal">
      <a href="https://www.facebook.com/cienciaufpr">
        <img class="rodape_fb" src="https://i.imgur.com/mjgCFFx.png" alt="logo fb" height ="70" width="70">
      </a>
      <a href="https://www.instagram.com/cptufpr/">
        <img class="rodape_ig" src="https://i.imgur.com/TH7SzFF.png" alt="logo ig" height ="70" width="70">
      </a>
      <a href="https://www.linkedin.com/company/cienciaufpr/">
        <img class="rodape_in" src="https://i.imgur.com/MYOt5KR.png" alt="logo in" height ="70" width="70">
      </a>
    </div>

    <div>
      <h1 class="rodape_redes">Conheça as nossas<div class="rodape_branco">redes sociais</div></h1>
    </div>
  </section>

  <section>
    <section>
      <div class="rodape-mapa">
        <a href="https://goo.gl/maps/YNS9NbZDUvrUQ9Vq7">
          <img class="rodape_maps" src="https://i.imgur.com/zPOypWe.png" alt="logo maps" height="37" width="37">
        </a>
        <h1 class="rodape-hmapa">Nosso espaço físico.</h1>
      </div>
    </section>

    <section>
      <div class="rodape_fone">
        <div class="rodape_fone2">
        <img class="rodape-cel" src="https://i.imgur.com/P3Ym3SI.png" height ="60" width="60" alt="contato celular"/>
      </div>
      <div class="rodape_fone3">
        <h1 class="rodape_contato">Também estamos em:</h1>
        <h2 class="rodape_contato">+55 (041) 3361-3432</h2>
      </div>
      </div>
    </section>
  </section>
</footer>